<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:label="FakeWA" android:theme="@style/FakeTheme" android:allowBackup="false">
        <activity android:name=".HomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConversationActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ArchiveActivity" android:exported="true" />
        <receiver android:name=".NotifyReceiver" android:exported="true">
            <intent-filter><action android:name="com.chatlens.fakewa.NOTIFY" /></intent-filter>
        </receiver>
    </application>
</manifest>
